.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-menu{
background-color: #b44593;
color: wheat;
}
.resume-button{
  background-color: #b44593;
}
.main-menu span {
  color: white
}
.resumeBuilder{
  color: white;

}
.resumeBuilder :hover {
  color: white;
  
}
.mainForm{
   padding-left: 100px;
   padding-right: 100px;
   margin-top: 60px;
}
.bold{
  margin-right: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.table{
  margin-left: 100px
}
.add-resume{
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 70px;
  font-style: bold;
  font-size: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
